.active {
  /* Style for selected category */
  font-weight: bold;
  color: #007bff; /* Bootstrap's primary color */
}

.border-bottom {
  /* Remove bottom border for active state */
  border-bottom-color: transparent !important;
}

.text-left {
  /* Ensure text is left-aligned */
  text-align: left;
}

.d-flex.flex-column a {
  /* Style links as hoverable elements */
  text-decoration: none; /* Remove underline */
  color: #d8d7d7; /* Text color */
  transition: color 0.2s ease-in-out; /* Smooth hover transition */
}

.d-flex.flex-column a:hover {
  /* Hover effect */
  color: #ffffff; /* Change color on hover */
}

.d-flex.flex-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem; /* Add spacing between cards */
}

.wrapper {
  height: 100vh; /* Set viewport height */
}

.article-image {
  width: 150px; /* Adjust width as needed */
  height: 150px; /* Adjust height as needed */
  object-fit: cover;
}

.book-item {
  /* Existing styles */
  margin-bottom: 20px;
}

.style-item {
  /* Existing styles */
  /* border: 1px solid white; */
  background-color: black;
  border-image: linear-gradient(to bottom, white, #ff00ffb8) 1;
  box-shadow: 0px 0px 10px 5px #ff00ffb8;
  padding: 20px;
  height: 100%;
  box-shadow:
  0 -4px 8px rgba(255, 255, 255, 0.3),       /* parte superior blanca */
  0 4px 8px rgba(255, 0, 255, 0.3),          /* parte inferior magenta */
  2px 0 6px rgba(255, 0, 255, 0.2),          /* lateral derecho */
  -2px 0 6px rgba(255, 0, 255, 0.2);         /* lateral izquierdo */
}

.pagination-style {
  margin-top: 20px;
}

.pagination-style .page-item {
  margin: 0 4px;
}

.pagination-style .page-item .page-link {
  color: #ff00ffb8; /* texto púrpura */
  border: 1px solid #ff00ffb8;
  border-radius: 0px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  background: transparent;
}

.pagination-style .page-item.active .page-link {
  background-color: #ff00ffb8;
  border-color: #ff00ffb8;
  color: white;
}

.pagination-style .page-item .page-link:hover {
  background-color: #ffe6ff;
  color: #660066;
}