.main-content {
  background-color: black; /* Inherit background color from parent */
  padding-top: 100px;
}

.images-about-us{
  border-radius: 100%;
}

.page-section-style {
  padding: 50px;
}

.list-guys-content {
  width: fit-content;
  position: fixed;
  top: 50%; 
  right: 3px; 
  font-size: 15px; 
  text-align: right;       /* align all children to the right */
}

.list-guys-content ul {
  list-style: none;
  padding: 10px;
  margin: 0;
  color: white;
}

.list-guys-content ul li {
  cursor: pointer;
}

.list-guys-content button {
  background: none;        /* remove background */
  border: none;            /* remove border */
  color: white;            /* make text white */
  font-size: 1.2rem;       /* adjust size if needed */
  cursor: pointer;         /* keep pointer cursor */
  padding: 0;              /* remove extra padding */
  margin: 0.5rem 0;        /* spacing between items */
  text-align: left;        /* align like list text */
  transition: color 0.2s ease;
}

.list-guys-content button:hover {
  color: var(--hover-color);
 text-shadow:
  0 0 6px var(--hover-color),
  0 0 12px var(--hover-color),
  0 0 24px var(--hover-color);
}

.list-guys-content button.active {
  color: var(--hover-color);
  text-shadow: 0 0 6px var(--hover-color), 0 0 12px var(--hover-color), 0 0 24px var(--hover-color);
  font-weight: bold; /* optional */
}

.card-body{
  border-radius: 10px;
  margin-top: 10px;
}

.card-image-style{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border: 4px solid;
  margin-bottom: 20px;
}

.cards-style {
  position: relative;
  width: 23rem !important;
  margin: 20px 20px !important;
  /* border-radius: 0px !important; */
  background: transparent !important;
  color: white !important; 
  opacity: 0.6;
  transition: 0.5s;
  cursor: pointer;
  padding: 10px;
}

.cards-style:hover{
  opacity: 1;
  transform: scale(1.1);
}

.cards-style:hover .photo-button-about{
  animation: glitch 0.3s infinite alternate;
}

.cards-style:hover .description-text {
  -webkit-line-clamp: unset;
  max-height: 500px; /* large enough for full text */
}

.cards-style p {
  color: white;
}

.image-container-about{
  position: relative;
}

.photo-button-about{
  position: absolute;
  bottom: 40px;
  right: 0px;
  left: 0px;
  width: 90%;
  padding: 10px;
  background: transparent;
  color: white;
  border: 5px solid white;
  margin: auto;
  font-weight: 700;
}

.photo-button-about:hover{
}

.description-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* preview lines */
  -webkit-box-orient: vertical;
  transition: max-height 0.3s ease;
  max-height: 3em; /* enough for 2 lines */
}

.main-stars {
  position: fixed;       /* stays behind everything */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;         /* full viewport height */
  overflow: hidden;
  z-index: -1;           /* behind content */
}

.stars-container {
  position: absolute;
  width: 100%;
  height: 100%;
}