.navbar .nav-link {
  color: rgb(190, 190, 190); /* Example: Set a contrasting color */
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link.active {
  color: rgb(255, 255, 255);
}

.navbar .nav-link:hover {
  color: #ffffff; /* Change to your desired hover color */
}

.navBarStyles{
  height: 100px;
  background-color: rgba(0, 0, 0, 0);
}

.degrade {
  height: 100px;
  width: 160px;
  background: linear-gradient(to right, black, transparent);
}

#basic-navbar-nav{
  background: linear-gradient(to left, black, transparent);
}

.navbarImage {
  background: rgba(0, 0, 0, 1);
  height: 100px;
  width: inherit;
  padding: 15px;
}

.geonovaText {
  color: white;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

@keyframes revealText {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

.navText {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid white; /* Simula efecto de escritura */
  padding-right: 15px;
  font-size: 13px;
  padding-top: 3px;
  animation: revealText 2s steps(20, end) forwards;
}